<!doctype html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic|Oleo+Script+Swash+Caps" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
</head>

<body>
    <div id="my-app">
        <top-header company="[[company]]" phone="[[phone]]" logo="[[logo]]"></top-header>
        
        <hero headline="<%- headline %>" headline2="<%- headline2 %>" details="<%- details %>" cta="<%- cta %>"></hero>
        
        <main-content title="<%- contenttitle %>" 
                      main-p="<%- content %>" 
                      img1="<%- box1img %>" 
                      t-box1="<%- box1title %>" 
                      p-box1="<%- box1details %>"
                      
                      img2="<%- box2img %>" 
                      t-box2="<%- box2title %>" 
                      p-box2="<%- box2details %>"
                      
                       img3="<%- box3img %>" 
                      t-box3="<%- box3title %>" 
                      p-box3="<%- box3details %>"
                      
                      >
       </main-content>
        
        <bottom-footer featureshead="About Our Company" 
                       feature1="<%- feature1 %>" 
                       feature2="<%- feature2 %>" 
                       feature3="<%- feature3 %>"
                       feature4="<%- feature4 %>" 
                       logo="[[logo]]" 
                       address="[[display_address]]" 
                       phone="[[phone]]">
        </bottom-footer>
        
        
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#my-app',
            components: {
                'top-header': httpVueLoader('https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/694/top-header.vue'),
                'hero': httpVueLoader('https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/694/hero.vue'),
                'main-content': httpVueLoader('https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/694/main-content.vue'),
                'bottom-footer': httpVueLoader('https://dc69b531ebf7a086ce97-290115cc0d6de62a29c33db202ae565c.ssl.cf1.rackcdn.com/694/bottom-footer.vue')
            }
        });
    </script>
</body>

</html>
